body{
    margin: 0;
}

.header{
    
    min-height: 50px;
    text-align: center;
}
nav{
    background-color: #32a8ac;
    justify-content: space-around;
    display: flex; 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
  
}
nav ul{
    padding: 0px;
    gap: 2rem;
    display: flex;
    list-style: none;
    align-items: center;
  
    
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 8px 0px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(220, 240, 109, 0);
}
nav ul li a:hover{
    color: rgb(220, 240, 109);
    border-bottom: 1px solid rgb(220, 240, 109);

}



.footer{
    background-color: rgb(77, 160, 185);
    min-width: 50px;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    position: relative;
    margin: 0 ;

}
.content{
    background-color: #f7f6f6;
    height: 1540px;
    background-color: #eee;
}
.logo{
    text-align: center;
    background-color: #3dc9ce;
    
}
.jumbotron{
    width: 100%;
    padding: 40px 40px;
    box-sizing: border-box;
    color: rgb(211, 168, 25);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(layanan/bglayanan.jpg);
}
.thumbnail{
    background-color: #f7f6f6;
    text-align: center;
    height: 130px;
    padding: 30px 30px;
    width: 800px;
    margin-top: 20px;
    margin: auto;  
    border-radius: 10px;

}
.thumbnail span{
    font-family: Roman SD ;
}
.thumbnail h1{
    color: #0d3031;
}
.thumbnail p{
    color: #1c6769;
}
.logo{
    text-align: center;
}
.jumbotron img{
    border-radius: 20px;
    height: 300px;
}

.pos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #c3ef85;
    padding-left:5px;
    margin: 75px 25px;
    background-color: #1f8488;
    border-radius: 5px;
    box-shadow: #a3f1f1;
    float: left;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.575);  
     
}

.card-image{
    width: 250px; 
     height: 340px;
    margin: 0 auto 10px;
    background-color: #0d3031;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 10px;
}
.card-image img{
    width: 250px;
    height: 340px;
    filter: grayscale(1);
    transition: all 300ms ease-in-out;
}
.card-image img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
     transition: all;
    transition-duration: 500ms;
}
.card h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.card P{
    color: white;
}
.card details{
    text-align: center;
    flex-grow: 1;
}
.book title{
    font-size: 1.2rem;
    color: #333;
}
.book details{
    color:#777;
}
.button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.btn{
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #1c6769;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 7px #32aca6a4;
}
.btn:hover{
    background-color:white;
    color: #1c6769;
}