body{
    margin: 0;
}

.header{
    
    min-height: 50px;
    text-align: center;
}
nav{
    background-color: #32a8ac;
    justify-content: space-around;
    display: flex; 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
  
}
nav ul{
    padding: 0px;
    gap: 2rem;
    display: flex;
    list-style: none;
    align-items: center;
  
    
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 8px 0px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(220, 240, 109, 0);
}
nav ul li a:hover{
    color: rgb(220, 240, 109);
    border-bottom: 1px solid rgb(220, 240, 109);

}
.content{
    background-color: #f7f7f7;
    min-height: 250px;
    overflow: auto;
    box-sizing: border-box;
   
    gap: 25px;
    
}


.footer{
    background-color: #384c52;
    min-width: 50px;
    text-align: center;
    padding: 20px;

}
.container{
    position: relative;
    margin: 0 ;
}
.logo{
    text-align: center;
    background-color: #3dc9ce;
    
}
.jumbotron{
    width: 100%;
    padding: 40px 40px;
    box-sizing: border-box;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://asset.kompas.com/crops/Yn331T3ABD2Twkqhp_sO-K0m6Go=/429x39:5529x3439/750x500/data/photo/2021/05/10/609931bb5334c.jpg);
}
.logo{
    text-align: center;
}

.library{
    text-align: center;
}
.pemisah {
            background-color: #f7f6f6;
            padding: 30px 30px;
            width: 800px;
            margin-top: auto;
            margin:auto;            
            border-radius: 10px;
        }
        .pemisah h1{
            color: #0d3031;
        }
        .pemisah p{
            color: #1c6769;
        }

.daleman{
     background-color: #1f8488;
            padding: 30px 30px;
            width: 750px;
            margin-top: 20px;
            margin: 20px 30px;            
            border-radius: 10px;
            box-shadow: 0 0 17px rgba(0, 0, 0, 0.589);
}
.daleman2{
     background-color: #1f8488;
            padding: 30px 30px;
            box-shadow: 0 0 17px rgba(0, 0, 0, 0.589);
            width: 750px;
            margin-top: 20px;
            margin: 20px 30px;            
            border-radius: 10px;
}
.daleman h2{
    text-decoration: underline;
}
.daleman2 h2{
    text-decoration: underline;
}
.sejarah h2{
    text-decoration: underline;
}
.sejarah{
    float: right;
    background-color: #1f8488;
    margin: 20px 25px;
    height: 646px;
    width: 465px;
    border-radius: 20px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.712);

}
.sejarah p {
    padding: 12px;
}
.sejarah h2{
    padding: 30px;
}
